<a href="https://colab.research.google.com/github/SammyGIS/GIS-notebooks/blob/main/python_google_nearby_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
import json
import os
import geopy.distance
import numpy as np

In [ ]:
PATH = "D:\Workshop\Python_google_place_api\Data" # change the path only to the data path
DATA = "listings.csv"
    
def get_data(path=PATH, DATA = data):
    """
    args: csv data file format
    """
    data_path = os.path.join(path,data)
    return pd.read_csv(data_path)

In [ ]:
listing_data = get_data()
listing_data.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20211207182339,2021-12-09,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,https://www.airbnb.com/users/show/54730,...,4.90,4.65,4.75,NaN,f,2,1,1,0,0.16
1,15400,https://www.airbnb.com/rooms/15400,20211207182339,2021-12-09,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,https://www.airbnb.com/users/show/60302,...,4.82,4.93,4.73,NaN,f,1,1,0,0,0.61
2,17402,https://www.airbnb.com/rooms/17402,20211207182339,2021-12-09,Superb 3-Bed/2 Bath & Wifi: Trendy W1,You'll have a wonderful stay in this superb mo...,"Location, location, location! You won't find b...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,https://www.airbnb.com/users/show/67564,...,4.66,4.85,4.59,NaN,f,1,1,0,0,0.33
3,17506,https://www.airbnb.com/rooms/17506,20211207182339,2021-12-09,Boutique Chelsea/Fulham Double bed 5-star ensuite,Enjoy a chic stay in this elegant but fully mo...,Fulham is 'villagey' and residential – a real ...,https://a0.muscache.com/pictures/11901327/e63d...,67915,https://www.airbnb.com/users/show/67915,...,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
4,25123,https://www.airbnb.com/rooms/25123,20211207182339,2021-12-09,Clean big Room in London (Room 1),Big room with double bed/ clean sheets/ clean ...,Barnet is one of the largest boroughs in Londo...,https://a0.muscache.com/pictures/456905/a004b9...,103583,https://www.airbnb.com/users/show/103583,...,4.89,4.45,4.74,NaN,t,3,0,3,0,0.91

In [ ]:
len(listing_data.columns)

74

In [ ]:
 #  we have 74 columns, let print the list of columns
[items for items in listing_data.columns]

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [ ]:
# checking if there is any data with missing long and lats
listing_data.latitude.isnull().sum(), listing_data.longitude.isnull().sum()

(0, 0)

In [ ]:
# for testing i will use the first 50 rows in the dataset
data = listing_data.loc[:49]
len(data)
data.head(2)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20211207182339,2021-12-09,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,https://www.airbnb.com/users/show/54730,...,4.90,4.65,4.75,NaN,f,2,1,1,0,0.16
1,15400,https://www.airbnb.com/rooms/15400,20211207182339,2021-12-09,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,https://www.airbnb.com/users/show/60302,...,4.82,4.93,4.73,NaN,f,1,1,0,0,0.61

In [ ]:
cords = ["latitude","longitude"]
data[cords]

        latitude  longitude
0      51.568610  -0.112700
1      51.487800  -0.168130
2      51.521950  -0.140940
3      51.479350  -0.197430
4      51.574380  -0.210810
...          ...        ...
66636  51.419345  -0.079681
66637  51.502002  -0.276895
66638  51.599308  -0.114763
66639  51.510407  -0.193729
66640  51.491864  -0.098225

[66641 rows x 2 columns]

In [ ]:
# data = pd.read_csv("/content/data_50.csv")
# dataframe = data.loc[0:1]
# dataframe

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,2.021120e+13,12/9/2021,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,https://www.airbnb.com/users/show/54730,...,4.90,4.65,4.75,NaN,f,2,1,1,0,0.16
1,15400,https://www.airbnb.com/rooms/15400,2.021120e+13,12/9/2021,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,https://www.airbnb.com/users/show/60302,...,4.82,4.93,4.73,NaN,f,1,1,0,0,0.61

In [ ]:
# Searching area around a particualr point of interest, using  Google Near by API with a defined RADIUS

API_KEY = "AIzaSyCbrqiZJu_TKq81FDTcaHCcjHe57CJ8ws0"    # input your API KEY
radius = 1000  # Se your search radius in (radius in in meter)
rank = "prominence" 
keyword = "relaxation" #set a keyword that can be associated with the search you are intresed in

name_list = []
lat_list = []
lng_list = []
venues_list = []
distance_list = []


def get_location_details(input_data:'dataframe') :
    
    """
    args: file is the datafrme where the locational attributes is stored
    
    return: exported csv files
    
    """
    


    # extracting the long and lat using for iterrows.
    for ID,col in input_data.iterrows():
        
        latitude = col['latitude']
        longitude = col['longitude']

        
        # url query
#         url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius{radius}
#                     &type={venue}&keyword={}&key ={API_KEY}"

        url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={latitude},{longitude}&radius={radius}&rankby={rank}&keyword={keyword}&key={API_KEY}"
        
       # sending a get request to the url
        with requests.Session() as session:
          response = session.get(url)
          file = json.loads(response.text)
          
          venues_list.append([(
            col["name"],
            latitude,
            longitude,
            item.get("name"),
            item.get("geometry").get("location").get("lat"),
            item.get("geometry").get("location").get("lng"),
            item.get("types")[0]) for item in file.get("results")])
          
        nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])

        nearby_venues.columns = ['name',
                  "latitude",
                  "longitude",
                  'venue', 
                  'venue_latitude', 
                  'venue_longitude', 
                  'venue_category']

  
    # for ID, col in nearby_venues.iterrows():
    #   dist = geopy.distance.geodesic((col["latitude"],col["longitude"]),(col["venue_latitude"], col["venue_longitude"]))
    #   distance_list.append(dist.meters)

    # nearby_venues["distance_to_poi"] = distance_list
    
    return nearby_venues

In [ ]:
# call the function
df = get_location_details(dataframe)
df.head()

NameError: ignored

In [ ]:
def distance_btw_points(nearby_venues):

  distance_list = []

  for ID, col in nearby_venues.iterrows():
    dist = geopy.distance.geodesic((col["latitude"],col["longitude"]),(col["venue_latitude"], col["venue_longitude"]))
    distance_list.append(round(dist.meters))
    
  nearby_venues["distance_to_poi"] = distance_list

  
  table = pd.pivot_table(nearby_venues,values =['distance_to_poi'], index = ['name', 'latitude', 'longitude', 'venue', 'venue_latitude',
       'venue_longitude'],columns=['venue_category'],fill_value=0)
  
  data = table.reset_index()

  
    
  return data

In [ ]:
data2 = distance_btw_points(df)
data2.head()

                                               name latitude longitude  \
venue_category
0               Bright Chelsea  Apartment. Chelsea!  51.4878  -0.16813
1               Bright Chelsea  Apartment. Chelsea!  51.4878  -0.16813
2               Bright Chelsea  Apartment. Chelsea!  51.4878  -0.16813
3               Bright Chelsea  Apartment. Chelsea!  51.4878  -0.16813
4               Bright Chelsea  Apartment. Chelsea!  51.4878  -0.16813

                                         venue venue_latitude venue_longitude  \
venue_category
0                                       GinSen      51.487825       -0.167474
1                       Kiyora Beauty & Health      51.492452       -0.177279
2               Mind Calm Professional Massage      51.493788       -0.168683
3                                       Monnáy      51.489786       -0.175300
4                        N & N J Knightsbridge      51.497699       -0.164709

               distance_to_poi                                               \
venue_category    beauty_salon gym health physiotherapist point_of_interest
0                            0   0     46               0                 0
1                            0   0      0               0               820
2                            0   0      0               0                 0
3                          545   0      0               0                 0
4                         1127   0      0               0                 0


venue_category school  spa
0                   0    0
1                   0    0
2                   0  667
3                   0    0
4                   0    0

In [ ]:
data2.reset_index(drop=True) 
data2

                                               name  latitude longitude  \
venue_category
0               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
1               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
2               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
3               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
4               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
5               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
6               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
7               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
8               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
9               Bright Chelsea  Apartment. Chelsea!  51.48780  -0.16813
10              Holiday London DB Room Let-on going  51.56861  -0.11270
11              Holiday London DB Room Let-on going  51.56861  -0.11270
12              Holiday London DB Room Let-on going  51.56861  -0.11270
13              Holiday London DB Room Let-on going  51.56861  -0.11270
14              Holiday London DB Room Let-on going  51.56861  -0.11270
15              Holiday London DB Room Let-on going  51.56861  -0.11270
16              Holiday London DB Room Let-on going  51.56861  -0.11270
17              Holiday London DB Room Let-on going  51.56861  -0.11270
18              Holiday London DB Room Let-on going  51.56861  -0.11270
19              Holiday London DB Room Let-on going  51.56861  -0.11270
20              Holiday London DB Room Let-on going  51.56861  -0.11270

                                                    venue venue_latitude  \
venue_category
0                                                  GinSen      51.487825
1                                  Kiyora Beauty & Health      51.492452
2                          Mind Calm Professional Massage      51.493788
3                                                  Monnáy      51.489786
4                                   N & N J Knightsbridge      51.497699
5                                        Quan Spa Chelsea      51.486213
6               Reflexions The Reflexology Shop - CHELSEA      51.487490
7                                  Revive Massage Studios      51.492427
8               South Kensington Massage Therapy Practice      51.494203
9                                         triyoga Chelsea      51.484229
10                                             Bamboo Spa      51.570444
11                      Benjawan Thai Massage and Therapy      51.568562
12                        Catherine Stone Massage Therapy      51.570172
13                  Chan Thai Therapy massage in Holloway      51.560202
14                            Debbie Joy - Massage & Yoga      51.565560
15                               Integrated Body Dynamics      51.573988
16                                   Om health and beauty      51.575015
17                                          Revive Health      51.562570
18                                          Shiatsu Space      51.571757
19                                 Siam Zenith Spa&Beauty      51.569888
20                                      Wellbeing Centres      51.571080

               venue_longitude distance_to_poi                              \
venue_category                    beauty_salon  gym health physiotherapist
0                    -0.167474               0    0     46               0
1                    -0.177279               0    0      0               0
2                    -0.168683               0    0      0               0
3                    -0.175300             545    0      0               0
4                    -0.164709            1127    0      0               0
5                    -0.180760               0    0      0               0
6                    -0.169121               0    0     77               0
7                    -0.177245               0    0      0               0
8                    -0.178086               0    0      0               0
9                    -0.176579               0  709      0               0
10                   -0.114442               0    0      0               0
11                   -0.110319               0    0      0               0
12                   -0.123741               0    0    785               0
13                   -0.115274               0    0      0               0
14                   -0.109638               0    0      0               0
15                   -0.112777               0    0    598               0
16                   -0.098198               0    0      0               0
17                   -0.104493               0    0      0               0
18                   -0.113662               0    0    356               0
19                   -0.113914               0    0      0               0
20                   -0.116840               0    0      0             397


venue_category point_of_interest school   spa
0                              0      0     0
1                            820      0     0
2                              0      0   667
3                              0      0     0
4                              0      0     0
5                              0      0   895
6                              0      0     0
7                              0      0   816
8                            993      0     0
9                              0      0     0
10                             0      0   237
11                             0      0   165
12                             0      0     0
13                             0      0   952
14                             0    400     0
15                             0      0     0
16                             0      0  1232
17                             0    881     0
18                             0      0     0
19                             0      0   165
20                             0      0     0

In [ ]:
data2.to_csv("data.csv")